.trex {
    top:10%;
    width: 600px;
    left:55%;
    transform: rotate(-37deg);
    position: absolute;
}

.nautilus {
    top: 55%;
    width: 100px;
    left: 15%;
    transform: rotate(41deg);
    position: absolute;
}

.trilobyte {
    width: 80px;
    top: 80%;
    left:55%;
    transform: rotate(127deg);
    position: absolute;
}