/* SCSS HEX */
$brand-heavy: #5b5941; //rifle-green
$brand-lite: #f3de8a; //buff
$emphasis: #ca2e55; //rubine-red
$link: #235789; //bdazzled-blue
$background: #adcad6; //columbia-blue
$white: #fff; //white
$black: #000; //black

$sky: $background;
$ground: $brand-lite;
$underground: $brand-heavy;
